<footer class="footer bg-light text-center text-lg-start" style="width: 100vw;">



    <!-- Copyright Section -->
    <div class="text-center p-3 bg-dark text-white">
        &copy; <%= new Date().getFullYear() %> DC-Stores. All Rights Reserved.
    </div>
</footer>