<link rel="stylesheet" href="/stylesheets/footerHome.css">

<footer class="footer">
    <div class="footer-content">
        <!-- Logo -->
        <div class="footer-logo">
            <img src="/images/logo.svg" alt="Website Logo">
        </div>

        <!-- Navigation -->
        <nav class="footer-nav">
            <ul>
                <li><a href="/user/home">Home</a></li>
                <li><a href="/user/productList">Store</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>


        <div class="footer-separator"></div>

        <!-- Copyright, Privacy Policy, Terms of Service -->
        <div class="footer-info">
            <ul>
                <li>&copy; 2024 Your DC-STORES</li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/terms-of-service">Terms of Service</a></li>
            </ul>
        </div>
    </div>
</footer>